<script type="text/x-mustache-template" name="current_user">
  <div class="row">
    <div class="span4">
      <img src='http://gravatar.com/avatar/{{gravatar_id}}?s=32' class="gravatar"/>
      <h1 class="username"><a href={{html_url}}>{{login}}</a></h1>
      <table class="table">
        <tr>
          <td>
            <h6>Public Repos</h6>
          </td>
          <td class="stat">
            <span class="badge badge-success">{{public_repos}}</span>
          </td>
          <td>
            <h6>Followers</h6>
          </td>
          <td class="stat">
            <span class="badge badge-success">{{followers}}</span>
          </td>
        </tr>

        <tr>
          <td>
            <h6>Public Gists</h6>
          </td>
          <td class="stat">
            <h6><span class="badge badge-success">{{public_gists}}</span></h6>
          </td>
          <td>
            <h6>Following</h6>
          </td>
          <td class="stat">
            <h6><span class="badge badge-success">{{following}}</span></h6>
          </td>
        </tr>
      </table>
    </div>
  </div>
</script>

