<script type="text/x-mustache-template" name="user_select">
  <div class="row">
    <label class="select">Github Username</label>
    <input class="select" id="user_input" type="text" />
  </div>
</script>


