<script type="text/x-mustache-template" name="user_overview">
  <td>
    <img src='http://gravatar.com/avatar/{{gravatar_id}}?s=32' class="gravatar"/>
    <h3 class="username"><a href={{html_url}}>{{login}}</a></h3>
  </td>
</script>


