<div class="container">

  <div class="row">
    <div class="span4">
      <div id="user_select">
      </div>
      <div id="current_user">
      </div>
      <div id="repos">
        <table id="repos_table" class="table">
        </table>
      </div>
    </div>
    <div id="events" class="span8">
    </div>
  </div>

  <div class="row">
    <div id="footer" class="span12">
      Check out <strong>Childermass</strong> on <a href="https://www.github.com/mjansen401/childermass">Github</a>
    </div>
  </div>
</div>
<%= render "user_select" %>
<%= render "user" %>
<%= render "repo_overview" %>
<%= render "dashboard_js" %>
