<div class="container">

  <div class="row">
    <div class="span4">
      <div id="username">
      </div>
      <div id="repos">
      </div>
    </div>
    <div id="events" class="span8">
    </div>
  </div>

  <div class="row">
    <div id="footer" class="span12">
      Check out <strong>Childermass</strong> on <a href="https://www.github.com/mjansen401/childermass">Github</a>
    </div>
  </div>
</div>
<%= render "user" %>
<%= render "dashboard_js" %>
