.container {
  margin-top: 2em;
}

.gravatar {
  margin-top: 1em;
}

.select{
  margin-left: 4em;
  margin-right: auto;
}

#events {
  height: 30em;
}

#footer {
  text-align:center;
  font-size: .8em;
}
