.container {
  margin-top: 2em;
}

.gravatar {
  float: left;
}

.username {
  margin-left: 1.3em;
}

.select{
  margin-left: 4em;
  margin-right: auto;
}

#events {
  height: 30em;
}

#footer {
  text-align:center;
  font-size: .8em;
}

#expanded_info {
  line-height: .2em;
}
#expanded_info.stats {
  margin-top: .3em;
}

td.stat {
  text-align:right;
}

#title {
  text-align:center;
}
