.container {
  margin-top: 2em;
}

.gravatar {
  float: left;
}

.username {
  margin-left: 1.3em;
}

.select{
  margin-left: 4em;
  margin-right: auto;
}

#events {
  height: 30em;
}

#footer {
  text-align:center;
  font-size: .8em;
}

#repos {
  line-height: .2em;
}
#repos.stats {
  margin-top: .3em;
}
